In [1]:
import pandas as pd

In [2]:
data=pd.read_json('ATE Rural.json')
data2=data.drop(0)
data2.columns=data2.iloc[0]
data2=data2.drop(1)
data2.reset_index().drop(["index"], axis=1)
data2.to_csv('AccessTE-Rural.csv', index=False)

In [3]:
data=pd.read_json('ATE Total.json')
data2=data.drop(0)
data2.columns=data2.iloc[0]
data2=data2.drop(1)
data2.reset_index().drop(["index"], axis=1)
data2.to_csv('AccessTE-Total.csv', index=False)

In [4]:
data=pd.read_json('ATE Urban.json')
data2=data.drop(0)
data2.columns=data2.iloc[0]
data2=data2.drop(1)
data2.reset_index().drop(["index"], axis=1)
data2.to_csv('AccessTE-Urban.csv', index=False)

In [5]:
data=pd.read_json('Nuclear Sources Production.json')
data2=data.drop(0)
data2.columns=data2.iloc[0]
data2=data2.drop(1)
data2.reset_index().drop(["index"], axis=1)
data2.to_csv('Nuclear sources production.csv', index=False)

In [6]:
data=pd.read_json('Oil Sources Production.json')
data2=data.drop(0)
data2.columns=data2.iloc[0]
data2=data2.drop(1)
data2.reset_index().drop(["index"], axis=1)
data2.to_csv('Oil sources production.csv', index=False)

In [7]:
data=pd.read_json('Renewable Sources Production.json')
data2=data.drop(0)
data2.columns=data2.iloc[0]
data2=data2.drop(1)
data2.reset_index().drop(["index"], axis=1)
data2.to_csv('Renewable Sources Production.csv', index=False)

In [8]:
data=pd.read_json('Power Transmission Lossess.json')
data2=data.drop(0)
data2.columns=data2.iloc[0]
data2=data2.drop(1)
data2.reset_index().drop(["index"], axis=1)
data2.to_csv('Power Transmission Losses.csv', index=False)

# Assigning Variables to csv files

In [9]:
rural = pd.read_csv("AccessTE-Rural.csv")
urban = pd.read_csv("AccessTE-Urban.csv")
total = pd.read_csv("AccessTE-Total.csv")
nuclear = pd.read_csv("Nuclear sources production.csv")
oil = pd.read_csv("Oil sources production.csv")
renewable = pd.read_csv("Renewable sources production.csv")
losses = pd.read_csv("Power Transmission Losses.csv")

# Reading head of variables

In [10]:
rural.head(5)

,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2013,2014,2015,2016,2017,2018,2019,2020,2021.0,Unnamed: 66
0,Aruba,ABW,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.00000,100.000000,NaN,NaN
1,Africa Eastern and Southern,AFE,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,18.663502,17.633986,16.464681,24.531436,25.345111,27.449908,29.64176,30.404935,NaN,NaN
2,Afghanistan,AFG,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,60.566135,86.500511,64.573357,97.099358,97.091972,95.586174,97.07563,97.066711,NaN,NaN
3,Africa Western and Central,AFW,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,23.294078,22.549825,22.780592,27.380220,NaN,NaN,NaN,25.466795,NaN,NaN
4,Angola,AGO,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,3.815067,NaN,NaN,7.333445,NaN,NaN,NaN,NaN

# Dropping All the null values

In [11]:
rural = rural.dropna(axis = "columns", how = 'all')
urban = urban.dropna(axis = "columns", how = 'all')
total = total.dropna(axis = "columns", how = 'all')
nuclear = nuclear.dropna(axis = "columns", how = 'all')
oil= oil.dropna(axis = "columns", how = 'all')
renewable = renewable.dropna(axis = "columns", how = 'all')
losses = losses.dropna(axis = "columns", how = 'all')

# Saving dataframes into different csv files

In [12]:
rural.to_csv('rural.csv',index= False)
urban.to_csv('urban.csv',index= False)
total.to_csv('total.csv',index= False )
nuclear.to_csv('nuclear.csv',index= False)
oil.to_csv('oil.csv',index= False)
renewable.to_csv('renewable.csv',index= False)
losses.to_csv('losses.csv',index= False)